.task-viewer-container {
  background-color: #f3f3fb;
  border-radius: 50px;
  padding: 40px;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.task-viewer-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.task-list-container {
    background-color: #f3f3fb;

    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 1780px;
    max-height: 856px;

    padding: 80px;
    border-radius: 50px;
    margin: 0 70px 70px 70px;
  } 

  .control-panel-container {
    padding: 20px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .view-title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #101c56;
  }